@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --body-font-family: "Outfit", sans-serif;
  --main-bg-color: hsl(212, 45%, 89%);
  --card-bg-color: hsl(0, 0%, 100%);
  --card-heading-color: hsl(218, 44%, 22%);
  --card-desc-color: hsl(220, 15%, 55%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  font-size: 15px;
}

.card {
  width: 300px;
  margin: 0 1rem;
  background-color: var(--card-bg-color);
  padding: 15px;
  border-radius: 18px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 14px;
}

.description {
  padding: 20px 10px;
}

.description h2 {
  color: var(--card-heading-color);
  padding-bottom: 15px;
}

.description p {
  color: var(--card-desc-color);
}
